
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  min-width:1280px;
  height: 100%;
  margin:0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  background-color: #F2F2F2;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color:#FFFFFF;
  background-color: #756157;
  border: none;
}

.button:hover {
  background-color: #615048;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.button:focus, .button:focus-visible {
  outline: none;
  background-color: #615048;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.button:disabled {
  background-color: #E5E5E5;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.button-light {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color:#FFFFFF;
  background-color: #82B3D3;
  border: none;
}

.button-light:hover {
  background-color: #68A2CA;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.button-light:focus,
.button-light:focus-visible {
  outline: none;
  background-color: #68A2CA;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.button-light:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.button-light:disabled {
  background-color: #E5E5E5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/*pages*/

.page-header {
  background-color: #FFFFFF;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 0;
}

.navigation-list {
  width: 340px;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 0 16px;
  column-gap: 32px;
  row-gap: 1px;
}

.navigation-item {
  margin: 0;
  padding: 0;
  min-width: 68px;
  max-height: 80px;
}

.navigation-user-link-search {
  display: inline-block;
  width: 44px;
  height: 64px;
  margin: 0;
  padding: 0;
}

.navigation-user-link-search::before {
  content: "";
  display: inline-block;
  width: 44px;
  height: 64px;
  background-color: #000000;
  -webkit-mask-image: url(../icons/search.svg);
  mask-image: url(../icons/search.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: 20px 20px;
          mask-size: 20px 20px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.navigation-user-link-search:hover::before {
  background-color: rgba(14, 3, 3, 0.3);
}


.navigation-user-link-favorites{
  display: inline-block;
  width: 44px;
  height: 64px;
  position: relative;
  margin: 0;
  padding: 0;
}

.navigation-user-link-favorites::before {
  content: "";
  display: inline-block;
  width: 44px;
  height: 64px;
  background-color: #000000;
  -webkit-mask-image: url(../icons/heart.svg);
  mask-image: url(../icons/heart.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: 20px 20px;
          mask-size: 20px 20px;
}

.navigation-user-link-favorites:hover::before {
  background-color: rgba(14, 3, 3, 0.3);
  -webkit-transition: opacity 3s ease;
  transition: opacity 3s ease;
}

.navigation-user-favorites-count {
  position: absolute;
  top: 10px;
  left: 20px;
  background-color: #7DB54F;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
}

.header-logo {
  max-height: 70px;
  display: inline-block;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  margin-left: 70px;
  margin-right: 28px;
  margin-bottom: -6px;
  z-index: 1;
}

.header-logo:hover {
  opacity: 0.8;
}

.navigation-link {
  min-width: 68px;
  min-height: 64px;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-link:hover {
  color: rgba(14, 3, 3, 0.3);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.current {
  border-bottom: solid 2px #756257;
  margin-bottom: -15px;
}

.navigation-user-link {
  font-family: inherit;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.user-button-wrapper {
  height: 64px;
  display: flex;
  align-items: center;
}

.navigation-user-button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  padding: 8px 34px;
  margin-right: 70px;
  border-radius: 4px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.navigation-user {
  min-width: 64px;
  padding-left: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.navigation-user-item {
  min-width: 44px;
  height: 64px;
  margin: 0;
  padding: 0;
}

.main-index {
  background-color: #FFFFFF;
}

.main-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
              flex-grow: 1;
}

.hero {
  background-image: url(../pictures/collar.png), url(../pictures/hero-background.jpg);
  background-size: contain, cover;
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-color: #F2F2F2;
  min-height: 484px;
  padding-top: 51px;
}

.hero-logo {
  display: block;
  margin: 0 auto;
}

.lead {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  text-align: center;
}

.advantages {
  min-width: 100%;
}

.advantages-title-wrapper {
  padding: 70px 270px 90px 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.advantages-subtitle {
  margin: 0 auto;
  padding-bottom: 25px;
}

.advantages-text {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.desc-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.text-dark {
  color: #333333;
}
/* List*/

.advantages-list,
.advice-list  {
  text-align: center;
  padding-left: 0;
  list-style-type: none;
}

.advantages-list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages-item {
  min-width: 400px;
  min-height: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-wrapper {
  min-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}
/*Title*/

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 172px;
  margin: 0 auto;
  display: inline-block;
}
/*text*/
.advantages-item--photo .advantages-item-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 30px auto;
}

.advantages-item--even .advantages-item-title::after,
.advantages-item--central .advantages-item-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgb(0, 0, 0, 0.3);
  margin: 30px auto;
}
.advantages-item-text {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  display: inline-block;
  width: 230px;
  margin: 0 auto;
}

.advantages-item:first-child,
.advantages-item:last-child {
  background-color: #82B3D3;
  background-size: 100% auto;
  color: #FFFFFF;
}

.advantages-item:nth-child(even):not(:first-child):not(:last-child) {
  background-color: rgba(131, 179, 211, 0.12);
  background-size: 100% auto;
}

.advantages-item:nth-child(odd):not(:first-child):not(:last-child) {
  background-color: rgba(131, 179, 211, 0.20);
  background-size: 100% auto;
}

.slogan {
  padding: 64px 347px;
}

.slogan-title {
  display: inline-block;
  margin: 0;
}

.slogan-text {
  display: inline-block;
  margin: 0;
  padding: 20px 8px 0 8px;

}

.advice-list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advice-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 400px;
  min-height: 385px;
  margin-top: auto;
  margin-bottom: auto;
}

.advice-item-wrapper {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 81px;
  margin-bottom: 81px;
}

.advice-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.advice-item:nth-child(1) .advice-item-title::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url(../icons/house.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto 30px auto;
}

.advice-item:nth-child(2) .advice-item-title::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url(../icons/food.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto 30px auto;
}

.advice-item:nth-child(3) .advice-item-title::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url(../icons/present.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto 30px auto;
}

.advice-item-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  display: inline-block;
  width: 230px;
  margin: 0 auto;
}

.advice-item:nth-child(1) .advice-item-text {
  width: 180px;
}

.advice-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
  background-size: 100% auto;
}

.searching {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 96px 304px;
}

.searching-title {
  margin: 0 0 20px 0;
}

.searching-text {
  margin: 0 0 54px 0;
}

.searching-button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 8px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}


/*subscribe*/

.subscribe {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 96px 258px 104px 258px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-main {
  background-image: url(../pictures/subscribe.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.subscribe-title {
  margin: 0 0 20px 0;
}

.subscribe-text {
  max-width: 475px;
  font-family: inherit;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 54px 0;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82B3D3;
  border: none;
  width: 232px;
  min-height: 52px;
  border-radius: 0 4px 4px 0;
}

.subscribe-input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 452px;
  height: 52px;
}

.subscribe-input:hover {
  border: solid 2px #68A2CA;
}

.subscribe-input:focus,
.subscribe-input:focus-visible {
  border: solid 2px #68A2CA;
  outline: none;
}
.subscribe-input:disabled {
  border: solid 2px rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.subscribe-input::-webkit-input-placeholder {
  padding-left: 18px;
}

.subscribe-input::-moz-placeholder {
  padding-left: 18px;
}

.subscribe-input:-ms-input-placeholder {
  padding-left: 18px;
}

.subscribe-input::-ms-input-placeholder {
  padding-left: 18px;
}

.subscribe-input::placeholder {
  padding-left: 18px;
}

.subscribe-input:focus,
.subscribe-input:focus-visible {
  padding-left: 20px;
}

.subscribe-input:focus::-webkit-input-placeholder, .subscribe-input:focus-visible::-webkit-input-placeholder {
  padding-left: 0;
}

.subscribe-input:focus::-moz-placeholder, .subscribe-input:focus-visible::-moz-placeholder {
  padding-left: 0;
}

.subscribe-input:focus:-ms-input-placeholder, .subscribe-input:focus-visible:-ms-input-placeholder {
  padding-left: 0;
}

.subscribe-input:focus::-ms-input-placeholder, .subscribe-input:focus-visible::-ms-input-placeholder {
  padding-left: 0;
}

.subscribe-input:focus::placeholder,
.subscribe-input:focus-visible::placeholder {
  padding-left: 0;
}

/*footer*/

.page-footer {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 120px;
  gap: 236px;
  align-items: start;
}

.social-list {
  min-height: 50px;
  max-width: 145px;
  padding-left: 0;
  list-style-type: none;
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 0;
}

.social-item {
  min-width: 47px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-link {
  min-width: 47px;
  min-height: 40px;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.social-link::before {
  content: "";
  display: inline-block;
  width: 47px;
  height: 40px;
  background-color: #83B3D3;
  margin-top: 5px;
}

.vk::before {
  -webkit-mask-image: url(../icons/vk_icon.svg);
          mask-image: url(../icons/vk_icon.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: 24px 14px;
          mask-size: 24px 14px;
}

.social-link:hover::before {
  background-color: #68A2CA;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.social-link:focus::before,
.social-link:focus-visible::before {
  outline: none;
  background-color: #68A2CA;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.social-link:active::before {
  background-color: rgba(104, 162, 202, 0.3);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.telegram::before {
  -webkit-mask-image: url(../icons/telegram_icon.svg);
          mask-image: url(../icons/telegram_icon.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: 18px 16px;
          mask-size: 18px 16px;
}

.youtube::before {
  -webkit-mask-image: url(../icons/youtube_icon.svg);
          mask-image: url(../icons/youtube_icon.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: 22px 17px;
          mask-size: 22px 17px;
}

.adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
 width: 332px;
}

.footer-phone {
  width: 100%;
  min-height: 50px;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin-top: 40px;
  padding-top: 6px;
  padding-left: 1px;
}

.footer-phone:hover,
.footer-phone:focus,
.footer-phone:focus-visible {
  outline: none;
  color: #756157;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.copyright-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 120px;
}

.copyright {
  min-width: 115px;
  min-height: 50px;
  margin-right: 70px;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  margin-top: 40px;
}

.copyright::before {
  content: "";
  display: inline-block;
  width: 115px;
  height: 33px;
  -webkit-mask-image: url(../icons/logo_html_academy.svg);
          mask-image: url(../icons/logo_html_academy.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: 115px 33px;
          mask-size: 115px 33px;
  background-color: #000000;
  margin-top: 10px;
}

 .copyright:hover::before {
  background-color: #756157;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.copyright:focus::before,
.copyright:focus-visible::before {
  outline: none;
  background-color: #756157;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.copyright:active::before {
  background-color: rgba(117, 97, 87, 0.3);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.main-catalog {
  background-color: #FFFFFF;
}

.catalog {
  margin-bottom: 40px;
}

/* Breadcrumbs */

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 800px;
  padding-left: 0;
  list-style-type: none;
  margin: 0 0 40px 70px;
  gap: 28px;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.breadcrumbs-link:focus,
.breadcrumbs-link:focus-visible {
  outline: none;
  color: rgba(255, 255, 255, 1);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.breadcrumbs-link-main {
  min-width: 13px;
  min-height: 15px;
  display: inline-block;
  background-image: url(../icons/breadcrumbs_house.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px 15px;
}

.breadcrumbs-link-main:hover {
  opacity: 0.6;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.breadcrumbs-link-main:focus,
.breadcrumbs-link-main:focus-visible {
  outline: none;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.breadcrumbs-link-main:active {
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.breadcrumbs-item:not(:first-child)::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 8px;
  height: 20px;
  background-image: url(../icons/breadcrumbs_arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px 20px;
  right: 82px;
  top: 0;
  pointer-events: none;
}

.filter-container {
  min-height: 412px;
  background-image: url(../pictures/filter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.catalog-filter {
  min-height: 157px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 70px 0 70px;
  padding-bottom: 70px;
  row-gap: 15px;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-group-list {
  padding-left: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  border: 2px solid transparent;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.control:hover {
  color: rgba(255, 255, 255, 0.6);
}

.control-input:focus + .control-mark,
.control-input:focus-visible + .control-mark {
  background-color: #FFFFFF;
  border-color: #82B3D3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.control:active {
  color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 10px;
  border: solid rgba(63, 94, 114, 1);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  background-color: rgba(63, 94, 114, 1);
  border-radius: 50%;
  content: "";
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.infostructure {
  width: 150px;
  border: none;
  margin: 0 70px 0 0;
  padding: 0;
}

.housing {
  width: 150px;
  border: none;
  margin: 0 140px 0 0;
  padding: 0;
}

.filter-cost {
  width: 288px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 69px 0 0;
  padding: 0 0 0 0;
}

.filter-button-wrapper {
  width: 191px;
  height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 56px;
}

.filter-button {
  width: 191px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8px 50px;
}

/* Title */

.filter-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0 0 8px 70px;
  padding: 35px 0 0 0;
}

.filter-group-list {
  margin: 0;
}

.filter-group-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
  padding: 0;
  }

.control-input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.filter-price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
}

.placeholder-wrapper {
  position: relative;
  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  background-color: #F2F2F2;
  color: #000000;
}

.filter-price {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  background-color: #F2F2F2;
  color: #000000;
  width: 144px;
  height: 48px;
  padding-left: 20px;
  padding-right: 40px;
}

.filter-price:hover {
  background-color: #E5E5E5;
}

.filter-price:focus,
.filter-price:focus-visible {
  outline: none;
  border: 3px solid #83B3D3;
}

.placeholder {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #999;
  pointer-events: none;
  font-weight: 400;
}

.filter-price--min::-webkit-input-placeholder {
  color: transparent;
}

.filter-price--min::-moz-placeholder {
  color: transparent;
}

.filter-price--min:-ms-input-placeholder {
  color: transparent;
}

.filter-price--min::-ms-input-placeholder {
  color: transparent;
}

.filter-price--min::placeholder {
  color: transparent;
}

.filter-price--min {
  border-radius: 4px 0 0 4px;
}

.filter-price--max {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 44px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.range-toggle:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.range-toggle:active {
  outline: 2px solid rgba(131, 179, 211, 1);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -2px;
}

.filter-button--transparent {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color:#FFFFFF;
  background-color: transparent;
  border: none;
}

.filter-button--transparent:hover {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.filter-button--transparent:focus,
.filter-button--transparent:focus-visible {
  outline: none;
  border: solid 3px #83B3D3;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.filter-button--transparent:active {
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.catalog-sorting-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 70px 40px 70px;
  padding-top: 50px;
}

.catalog-sorting {
  margin-left: 200px;
  min-width: 292px;
  min-height: 49px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  padding: 14px 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #FFFFFF;
  background-image: url(../icons/tick_sort.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 12px 7px;
}

.catalog-sorting:hover,
.catalog-sorting:focus,
.catalog-sorting:focus-visible {
  outline: none;
  border: solid 2px #68A2CA;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.catalog-sorting:disabled {
  background-color: #E5E5E5;
}

.list-view {
  padding-left: 0;
  list-style-type: none;
  min-width: 160px;
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}

.list-view-item {
  min-width: 48px;
  min-height: 48px;
}

.list-view-item:nth-child(1) .list-view-button {
  background-position: center;
  background-size: 16px 14px;
  background-image: url(../icons/tile.svg);
  background-repeat: no-repeat;
}

.list-view-item:nth-child(2) .list-view-button {
  background-position: center;
  background-size: 16px 14px;
  background-image: url(../icons/display.svg);
  background-repeat: no-repeat;
}

.list-view-item:nth-child(3) .list-view-button {
  background-position: center;
  background-size: 16px 14px;
  background-image: url(../icons/list_icon.svg);
  background-repeat: no-repeat;
}

.list-view-button {
  text-decoration: none;
  color: #000000;
  display: block;
  min-width: 48px;
  min-height: 48px;
  border-radius: 4px;
  border: solid 2px #E5E5E5;
}

.list-view-button:hover {
  border: solid 2px #000000;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.list-view-button:focus,
.list-view-button:focus-visible {
  outline: none;
  border: solid 2px #68A2CA;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.list-view-button:active {
  border: solid 2px #000000;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.button-active {
    border: solid 2px #000000;
}

.catalog-list {
  padding-left: 0;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  margin: 0 70px 0 70px;
  gap: 20px;
}

.catalog-card {
  background-color: #FFFFFF;
  width: 340px;
  padding: 20px;
  box-shadow: inset 0 0 0 1px #e6e6e6;
  border-radius: 4px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid: 1fr/1fr;
  -ms-grid-rows: auto 16px auto 16px auto 16px auto;
  row-gap: 16px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.catalog-card > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.catalog-card > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.catalog-card > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.catalog-card > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.catalog-card > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.catalog-card > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.catalog-card > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.catalog-card > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.catalog-card-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.catalog-sorting {
  font-family: inherit;
  background-color: #FFFFFF;
  border-color: #E5E5E5;
  border-radius: 2px;
  width: 292px;
  height: 49px;
}

.catalog-title {
  padding: 6.5px 0;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-card-link {
  max-width:300px;
  text-decoration: none;
  color: #000000;
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 16px 0 0 0;
  margin: 0;
}

.card-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 20px;
  align-items: stretch;
}

.type-description, .stars {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 0;
  max-width: 140px;
  align-self: center;
}

.four::before {
  content: "";
  display: inline-block;
  width: 87px;
  height: 17px;
  background-image: url(../icons/star.svg);
  background-repeat: space no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 1px;
}

.three::before {
  content: "";
  display: inline-block;
  width: 65px;
  height: 17px;
  background-image: url(../icons/star.svg);
  background-repeat: space no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 1px;
}

.two::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 17px;
  background-image: url(../icons/star.svg);
  background-repeat: space no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 1px;
}

.card-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin: 0;
  max-width: 140px;
  text-align: end;
}

.catalog-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 26px;
  border-radius: 4px;
  border: none;
  max-width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.favourite {
  border: none;
  background-color:#82B3D3;
  padding: 8px 20px;
  border-radius: 4px;
  max-width: 140px;
  cursor: pointer;
}

.favourite-active {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  color:#FFFFFF;
  background-color:#7DB54F;
  padding: 8px 18px;
}

.favourite-active:hover {
  background-color: #6C9E42;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.favourite-active:focus,
.favourite-active:focus-visible {
  outline: none;
  background-color: #6C9E42;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.favourite-active:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.favourite-active:disabled {
  background-color: #E5E5E5;
}

.rating {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  background-color: #F2F2F2;
  margin: 0;
  padding: 2px 10px;
  width: 140px;
  min-height: 37px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

/*pagination*/

.pagination {
  background-color: #FFFFFF;
  margin: 0 70px 60px 70px;
}

.pagination::before {
  content: "";
  display: inline-block;
  width: 1060px;
  height: 1px;
  background-color: #E5E5E5;
  margin-bottom: 33px;
  border: none;
}

.pagination-list {
  padding-left: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin: 0;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  min-width: 60px;
  min-height: 60px;
  border-radius: 4px;
  padding: 11px;
}

.pagination-link:hover,
.pagination-link:focus,
.pagination-link:focus-visible {
  outline: none;
  background-color: #68A2CA;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:focus-visible,
.pagination-current:active {
  outline: none;
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-points,
.pagination-points:hover,
.pagination-points:focus,
.pagination-points:focus-visible,
.pagination-points:active {
  outline: none;
  color: #000000;
  background-color: #FFFFFF;
}

.catalog-subscribe {
  background-color: #FFFFFF;
}

.subscribe-input {
  background-color: #F2F2F2;
}

/*Modal*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  min-width: 717px;
  min-height: 576px;
  background-color: #FFFFFF;
  position: relative;
  margin: auto;
  padding: 64px 70px;
  border-radius: 30px;
  -webkit-box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-reservation {
  width: 717px;
  min-height: 576px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  min-height: 52px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.modal-close-icon {
  width: 20px;
  height: 1.5px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
}

.modal-close-icon--top {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close-icon--bottom {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-close-button:hover {
  background-color: #E5E5E5;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.modal-close-button:focus,
.modal-close-button:focus-visible {
  outline: none;
  background-color: #E5E5E5;
  border: 3px solid #83B3D3;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.modal-close-button:active {
  background-color: rgba(229, 229, 229, 1);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.modal-close-button:active .modal-close-icon {
  background-color: rgba(117, 97, 87, 0.3) ;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.modal-title {
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 64px 0;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.modal-label {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  margin-bottom: 8px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.date {
  width: 440px;
  padding-right: 20px;
  position: relative;
}

.date-icon {
  min-width: 20px;
  min-height: 20px;
  position: absolute;
  text-decoration: none;
  color: rgba(117, 97, 87, 0.3);
  display: inline-block;
  right: 20px;
}

.date-icon::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-mask-image: url(../icons/calendar.svg);
          mask-image: url(../icons/calendar.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: 16px 15px;
          mask-size: 16px 15px;
  background-color: rgba(117, 97, 87, 0.3);
  position: absolute;
}

.date-icon:hover::after {
  background-color: #756157;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.date-error {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #FF0000;
  min-width: 280px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-left: 156px;
  margin-top: 4px;
}

.date-check {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  min-width: 331px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-left: 156px;
  margin-top: 4px;
}

.modal-input {
  min-width: 440px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  outline: solid 2px transparent;
}

.modal-input::-webkit-input-placeholder {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
}

.modal-input::-moz-placeholder {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
}

.modal-input:-ms-input-placeholder {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
}

.modal-input::-ms-input-placeholder {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
}

.modal-input::placeholder {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
}

.modal-input:hover {
  outline: solid 2px transparent;
  background-color: rgba(229, 229, 229, 1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal-input:focus,
.modal-input:focus-visible {
  outline: solid 2px #68A2CA;
  background-color: rgba(229, 229, 229, 1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 88px;
  margin-bottom: 8px;
}

.customers-wrapper {
  width: 247px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.children-count,
.adults-count  {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.count {
  width: 31px;
  height: 48px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  background-color: #F2F2F2;
  border: none;
  outline: solid 2px transparent;
}

.count::-webkit-input-placeholder {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);;
  -webkit-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}

.count::-moz-placeholder {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);;
  -moz-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}

.count:-ms-input-placeholder {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);;
  -ms-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}

.count::-ms-input-placeholder {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);;
  -ms-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}

.count::placeholder {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);;
  -webkit-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}

.count:hover {
  outline: solid 2px transparent;
  background-color: rgba(229, 229, 229, 1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.count:focus,
.count:focus-visible {
  outline: solid 2px #68A2CA;
  background-color: rgba(229, 229, 229, 1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

.tooltip {
  position: absolute;
  margin-top: 10px;
  margin-left: 60px;
  width: 26px;
  height: 26px;
  z-index: 1;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #83B3D3;
  display: block;
}

.tooltip-text {
  font-family: inherit;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  position: relative;
  width: 256px;
  margin-top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  opacity: 0;
}

.tooltip-text::after {
  content: '';
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
  border: 10px solid transparent;
  border-top: 12px solid #333333;
 }

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  pointer-events: auto;
}

.modal-button {
  border: none;
  background-color: #F2F2F2;
}

.modal-minus-button {
  margin-left: auto;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 48px;
}

.modal-plus-button {
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 48px;
}

.modal-count-icon {
  width: 24px;
  height: 24px;
  background-color: #F2F2F2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-count-icon--top {
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-count-icon--bottom {
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.modal-minus-button:hover .modal-count-icon--top,
.modal-plus-button:hover .modal-count-icon--top,
.modal-minus-button:focus .modal-count-icon--top,
.modal-plus-button:focus .modal-count-icon--top {
  background-color: #000000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal-plus-button:hover .modal-count-icon--bottom,
.modal-plus-button:focus .modal-count-icon--bottom {
  background-color: #000000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal-minus-button:focus .modal-count-icon,
.modal-plus-button:focus .modal-count-icon {
  border: 3px solid rgba(130, 179, 211, 1);
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal-minus-button:active .modal-count-icon--top,
.modal-plus-button:active .modal-count-icon--top {
  background-color: rgba(117, 97, 87, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal-plus-button:active .modal-count-icon--bottom,
.modal-plus-button:active .modal-count-icon--bottom {
  background-color: rgba(117, 97, 87, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal-minus-button:active .modal-count-icon,
.modal-plus-button:active .modal-count-icon {
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal-button-submit {
  border-radius: 10px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 20px;
  line-height: 24px;
}
